body {
  background: #EDF6F5;
  /*font-family: arial;*/
}

#header {
  background-color: #AEEADE;
  background-size: 100%;
  min-height: 100px;
}

#about {
  background: #EBE4DC;
}

#headshot {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid grey;
  border-radius: 5%;
}

#projects {
  background: #C4EAEB;
}